#navbarSupportedContent {
    background-color: #4B3832; 
}

a.nav-link {
    color: white;
    font-size: 25px;

    
   
}


.nav-link {
    font-family: 'Satisfy', cursive;
    
    text-indent: 20px;
}

.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
  }

.fa-facebook {
    color: #4b3832;
    padding-left: 25px;
    padding-top: 25px;
}
.fa-instagram {
    color: #4b3832;
    padding-left: 25px;
}
.fa-twitter {
    color: #4b3832;
}

.fa-user {
    color: #4b3832;
    padding-right: 25px;
    padding-top: 25px;
}
.fa-magnifying-glass {
    color: #4b3832;
    padding-right: 25px;
}
.fa-bag-shopping {
    color: #4b3832;
}
